<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>WebSocket Chat</h1>
    <form action="" onsubmit="sendMessage(event)">
        <input type="text" id="messageText" autocomplete="off"/>
        <button>Send</button>
    </form>
    <ul id='messages'></ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:5000');
        socket.on('message', function(data) {
            const messages = document.getElementById('messages');
            const message = document.createElement('li');
            message.textContent = data;
            messages.appendChild(message);
        });
        function sendMessage(event) {
            const input = document.getElementById("messageText");
            socket.send(input.value);
            input.value = '';
            event.preventDefault();
        }
    </script>
</body>
</html>
